<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css">
    <style>
        
    </style>
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Home</a></li>
                <li class="main-header__item"><a class="active" href="/admin/api">Access API</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Access API</h1>
        <p>The data below has been returned in the console.</p>
        <hr>
        <p>Name: Tanner</p>
        <p>Age: 25</p>
        <p>Hobbies: Video Games, Snowboarding, Web Design</p>
    </main>
</body>

</html>